* {
  margin: 0px;
  font-family: "Oswald", sans-serif;
}

.navbar-menu {
  font-size: 20px;
}

a.navbar-item{
  color: white;
}

.nav-logo-box {
  margin: 0 2em 0 2em;
}

.nav-logo {
  height: 5.75rem;
}

.divider {
  margin: 80px;
}

.footer{
  height: 50px;
  padding: 10px 0 10px 0;
  text-align: center;
  background: none;
}

section.section {
  background-image: url('./assets/lileth.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

section.section {
  margin: 0px;
}

.container {
  max-width: 100%;
}

.hero {
  background-image: url(./assets/waterfall-red.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 100vw; */
  position: relative;
  height: 25em;
}
.home-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
  padding: 25px 0 25px 0;
  /* color: rgb(46, 42, 42); */
  color: white;
}

/* .home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
  padding: 25px 0 25px 0;
  color: rgb(46, 42, 42);
} */
/* .home-subtitle {
  display: inline;
  font-size: 0.8em;
  color: rgb(46, 42, 42);
} */

.home-text {
  font-size: 22px;
  text-align: center;
  width: 50%;
  margin: auto;
  /* color: rgb(46, 42, 42); */
}

.class-info {
  background-image: url(./assets//card-reading.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40em;
  display: flex;
  align-items: flex-end;
  color: white;
}
.class-info-text {
  display: flex;
  padding: 10px;
  flex-direction: column;
  font-size: 25px;
  text-shadow: 0 1px 0 rgb(29, 26, 26), 0 2px 0 #1f1c1c, 0 3px 0 rgb(41, 37, 37),
    0 4px 0 #242222, 0 5px 0 rgb(49, 46, 46), 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  background-color: rgba(24, 22, 22, 0.781);
  padding-bottom: 30px;
}


.cards-container {
  display: flex;
  justify-content: space-between;
  color: rgb(46, 42, 42);
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1437e49a;
  border-radius: 70px;
  width: 300px;
  margin: 20px;
}
.card-container:hover {
  background-color: #1538e6c9;
}

.content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
