* {
  margin: 0px;
  font-family: "Oswald", sans-serif;
}

.navbar-menu {
  font-size: 20px;
}

a.navbar-item{
  color: white;
}

.nav-logo-box {
  margin: 0 2em 0 2em;
}

.nav-logo {
  height: 5.75rem;
}

.divider {
  margin: 80px;
}

.footer{
  height: 50px;
  padding: 10px 0 10px 0;
  text-align: center;
  color: white;
  background: rgb(31, 31, 253);
}

section.section {
  background-image: url('./assets/lileth.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

section.section {
  margin: 0px; /* what does this do */
}

.container {
  max-width: 100%;
}

.hero {
  background-image: url(./assets/fall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 25em;
}
.home-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
  padding: 25px 0 25px 0;
  /* color: rgb(46, 42, 42); */
  color: white;
}

.home-text {
  font-size: 25px;
  text-align: center;
  width: 60%;
  margin: auto;
  /* color: rgb(46, 42, 42); */
}

.class-info {
  background-image: url(./assets//card-reading.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 45em;
  display: flex;
  align-items: flex-end;
  color: white;
}
.class-info-text {
  display: flex;
  padding: 10px;
  flex-direction: column;
  font-size: 25px;
  text-shadow: 0 1px 0 rgb(29, 26, 26), 0 2px 0 #1f1c1c, 0 3px 0 rgb(41, 37, 37),
    0 4px 0 #242222, 0 5px 0 rgb(49, 46, 46), 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  background-color: rgba(24, 22, 22, 0.781);
  padding-bottom: 30px;
}


.cards-container {
  display: flex;
  justify-content: space-between;
  color: rgb(46, 42, 42);
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: #1437e43f; */
  border-radius: 70px;
  width: 300px;
  height: 250px;
  margin: 30px;
  padding: 10px;
}
.card-container:hover {
  /* background-color: #1538e6c9; */
  /* box-shadow: inset 10px -10px 5px rgba(1, 13, 175, 0.26); */
}

.content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* END OF HOME SECTION */

.development-page{
  margin: 20px;
  background: white;
}

.notice{
  /* margin-left: 40px; */
  /* margin-top: 50px; */
  margin: 50px 0 0 40px;
  width: 50%;
}
.development-title{
  font-size: 50px;
  border-bottom: 2px solid #4A4A4A;
  margin-bottom: 30px;
}
.development-subtext{
  font-size: 20px;
  margin: 30px;
}
.development-subtitle{
  font-size: 40px;
  border-bottom: 2px solid #4A4A4A;
  margin-bottom: 30px;
}
.development-text{
  margin: 30px;
  font-size: 20px;
}